.sidebar-container {
    position: fixed;
    top: 15px;
    left: 20px;
    /* display: inline-block; */
    z-index: 30;
    display: flex;
    background: white;
    border: 1px solid #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    height: 40px;
}

/* Button */
.menu-button {
    font-size: 22px;
    background: rgb(255, 255, 255);
    /* border: 1px solid #333; */
    border: 1px solid #ffffff;
    border-radius: 6px;
    /* padding: 1px 3px; */
    cursor: pointer;
    transition: background 0.2s;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    padding-right: 10px;
}


/* Dropdown */
.dropdown-menu {
    position: absolute;
    top: 100%;
    /* appear directly below button */
    left: 0px;
    /* align with button's right edge */
    margin-top: 8px;
    width: 220px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    padding: 6px 0;
    z-index: 1000;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 13px;
    font-family: "poppins";
    font-weight: 400;
    color: #333;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
}

.dropdown-menu li:hover {
    background: #78b9ff;
    transition: .9s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    border-radius: 20px;
}

.logo {
    width: 50px;
    height: 40px;
    padding: 10px 0px;
}